body {
    font-family: andale mono;
    font-size: 14px;
    padding: 100px 500px;
    text-align: center;
    background: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

h1#head1 {
    color: #fff;
    font-size: 35px;
}

h2 {
    color: #000;
    font-size: 28px;
}

h3 {
    color: #fff;
    font-size: 20px;
}

ul {
    list-style:none;
    padding: 0; margin: 0;
}

li a {
    display: block;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-decoration: none;
}

li a:visited {
    color: #ddd;
}

li#tehlulz a:visited {
    color: #ddd;
}

li a:hover, li a:visited:hover {
    cursor: crosshair;
    background: #88f;
    color: #f88;
}

li#tehlulz a {
    background: #f88;
    color: #88f;
}

li#tehlulz a:hover, li#tehlulz a:visited:hover {
    cursor: crosshair;
    background: #88f;
    color: #f88;
}

.extreme {
    padding: 10px;
    color: #fff;
    background-color: #000;
}

.navzone {
    margin-top: 20px;
    display: block;
    padding: 15px;
    background: #000;
}

.prose {
    color: #000;
}
